{% extends 'inicio/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <!--input type="text" class="form-control" id="username" name="username" required-->
              <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <!--input type="password" class="form-control" id="password" name="password" required-->
              <input type="password" class="form-control" id="password" name="password">
            </div>
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              Invalid username or password.
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
